<div class="register">
  <form #registerForm="ngForm">
    <div>
      <label for="fName">First Name</label>
      <input type="text" name="first_name" id="fName" [(ngModel)]="registerDetails.first_name" required #fName="ngModel">
      <div *ngIf="fName.errors && (fName.dirty || fName.touched)">
        <span *ngIf="fName.errors.required">First Name Field is Require</span>
      </div>
    </div>
    <div>
      <label for="lName">Last Name</label>
      <input type="text" name="last_name" id="lName" [(ngModel)]="registerDetails.last_name">
    </div>
    <div>
      <label for="uName">Username</label>
      <input type="text" name="username" id="uName" [(ngModel)]="registerDetails.username" required #uName="ngModel">
      <div *ngIf="uName.errors && (uName.dirty || uName.touched)">
        <span *ngIf="uName.errors.required && pwd.touched">Username Field is Require</span>
      </div>
    </div>
    <div>
      <label for="pwd">Password</label>
      <input type="password" name="password" id="pwd" [(ngModel)]="registerDetails.password" required #pwd="ngModel">
      <div *ngIf="pwd.errors && (pwd.dirty || pwd.touched)">
        <span *ngIf="pwd.errors.required && pwd.touched">Password Field is Require</span>
      </div>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" [(ngModel)]="registerDetails.email" required #email="ngModel">
      <div *ngIf="email.errors && (email.dirty || email.touched)">
        <span *ngIf="email.errors.required && email.touched">Email Field is Require</span>
      </div>
    </div>
    <div>
      <label for="phNo">Phone No</label>
      <input type="text" name="phone_no" id="phNo" [(ngModel)]="registerDetails.phone_no">
    </div>
    <div>
      <label for="age">Age</label>
      <input type="text" name="age" id="age" [(ngModel)]="registerDetails.age">
    </div>
    <div>
      <button (click)="register()" [disabled]="!registerForm.form.valid">Register</button>
      <button (click)="clear()">Clear</button>
    </div>
  </form>
</div>
