<form [formGroup]="resetForm" (ngSubmit)="resetPassword(resetForm)">
  <div class="reset-password" fxLayout="row" fxLayoutAlign="center center">
    <md-card fxFlex="25">
      <md-card-header>
        <md-card-title>Reset Password</md-card-title>
      </md-card-header>
      <hr class="mat-divider" />
      <md-card-content *ngIf="!success">
        <h4 class="mat-error" *ngIf="server_msg" [innerHTML]="server_msg"></h4>
        <md-form-field>
          <input formControlName="password" mdInput type="password" placeholder="Old Password" required>
          <md-error *ngIf="resetForm.controls.password.hasError('required')">Please Enter Old Password</md-error>
        </md-form-field>
        <md-form-field>
          <input formControlName="newPassword" mdInput type="password" placeholder="New Password" required>
          <md-error *ngIf="resetForm.controls.newPassword.hasError('required')">Please Enter New Password</md-error>
        </md-form-field>
        <md-form-field>
            <input formControlName="confirmPassword" mdInput type="password" placeholder="New Password" required>
            <md-error *ngIf="resetForm.controls.confirmPassword.hasError('required')">Please Enter Confirm Password</md-error>
            <md-error *ngIf="!resetForm.controls.confirmPassword.hasError('required') && resetForm.controls.confirmPassword.hasError('MatchPassword')">Password Doesn't Match</md-error>
          </md-form-field>
      </md-card-content>
      <md-card-content *ngIf="success">
        <h2 [innerHtml]="server_msg"></h2>
      </md-card-content>
      <md-card-actions fxLayout="row" fxLayoutAlign="end center" *ngIf="!success">
        <button type="submit" md-raised-button color="primary">Reset My Password</button>
      </md-card-actions>
    </md-card>
    <a routerLink="/login" class="back">
      <md-icon>keyboard_backspace</md-icon>Back to login</a>
  </div>
</form>
