<div fxLayout="row" fxLayoutAlign="center center">
  <md-card class="forgot-password" fxFlex="30">
    <md-card-header>
      <div md-card-avatar style="height: auto;">
        <!-- <button md-icon-button> -->
        <md-icon [routerLink]="['/login']" style="cursor: pointer">keyboard_backspace</md-icon>
        <!-- </button> -->
      </div>
      <md-card-title>Forgot Password</md-card-title>
    </md-card-header>
    <hr class="mat-divider" />
    <md-card-content>
      <md-form-field>
        <input [(ngModel)]="forgotPasswordDetails.email" name="email" mdInput type="email" placeholder="Email Address" required>
        <md-hint align="start">Please Enter Registered Email Address.</md-hint>
        <!-- <md-icon mdSuffix>edit</md-icon> -->
        <md-error>
          Please Enter Email Address
        </md-error>
      </md-form-field>
    </md-card-content>
    <md-card-actions fxLayout="row" fxLayoutAlign="end center">
      <button md-button (click)="clear">Cancel</button>
      <button md-raised-button color="primary" (click)="forgotPassword()">Forgot Password</button>
    </md-card-actions>
  </md-card>
</div>
