<form (ngSubmit)="forgotPassword()">
  <div class="forgot-password" fxLayout="row" fxLayoutAlign="center center">
    <md-card fxFlex="25">
      <md-card-header>
        <md-card-title>Forgot Password</md-card-title>
      </md-card-header>
      <hr class="mat-divider" />
      <md-card-content *ngIf="!success">
        <h4 class="mat-error" *ngIf="server_msg" [innerHTML]="server_msg"></h4>
        <md-form-field>
          <input #email="ngModel" [(ngModel)]="forgotPasswordDetails.email" name="email" mdInput type="email" placeholder="Email Address"
            required email>
          <md-hint align="start">Please Enter Registered Email Address.</md-hint>
          <md-error *ngIf="email.errors && email.errors.required">Please Enter Email Address</md-error>
          <md-error *ngIf="email.errors && !email.errors.required && email.errors.email">Please Enter Valid Email Address</md-error>
        </md-form-field>
      </md-card-content>
      <md-card-content *ngIf="success">
        <h2 [innerHtml]="server_msg"></h2>
      </md-card-content>
      <md-card-actions fxLayout="row" fxLayoutAlign="end center" *ngIf="!success">
        <button type="submit" md-raised-button color="primary">Send My Password</button>
      </md-card-actions>
    </md-card>
    <a routerLink="/login" class="back"><md-icon>keyboard_backspace</md-icon>Back to login</a>
  </div>
</form>
