/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html{height: 100%;
  body{margin: 0;height: 100%}
}
.mat-center{
  text-align: center;
}
.mat-card {
  .mat-icon{outline: none;cursor: pointer}
  hr.mat-divider {
    margin: 0 -24px 16px -24px;
  }
  .mat-card-content {
    .mat-form-field {
      width: 80%;
      margin: 0 0 0 10px;
    }
  }
}

